$width: 100%;
$color: greenyellow;

.app {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: $width;
    height: 100vh;
    color: $color;
}

.heading-1 {
    font-size: 4rem;
    font-weight: 300;
}
